lib_seq /home/cauretc/scratch/HiSeq_data/BenEvansBJE3652_180bp_Library_GTTTCG_L001_R1_*_trim_paired.cor.fastq.gz,/home/cauretc/scratch/HiSeq_data/BenEvansBJE3652_180bp_Library_GTTTCG_L001_R2_*_trim_paired.cor.fastq.gz FRA1st180 180 20 90 0 0 1 1 1 0 0 
lib_seq /home/cauretc/scratch/HiSeq_data/Ben_Evans_BJE3652_180_BP_Library_2nd_Sequence_09082015_NoIndex_L*_R1_*_trim_paired.fastq.gz,/home/cauretc/scratch/HiSeq_data/Ben_Evans_BJE3652_180_BP_Library_2nd_Sequence_09082015_NoIndex_L*_R2_*_trim_paired.fastq.gz FRA2nd180 180 20 90 0 0 1 1 1 0 0
lib_seq /home/cauretc/scratch/HiSeq_data/BenEvansBJE3652_400bp_Library_GTTTCG_L002_R1_*_trim_paired.cor.fastq.gz,/home/cauretc/scratch/HiSeq_data/BenEvansBJE3652_400bp_Library_GTTTCG_L002_R2_*_trim_paired.cor.fastq.gz FRA400 400 40 90 0 0 1 1 1 0 0
lib_seq /home/cauretc/scratch/HiSeq_data/BenEvansBJE3652_1000bp_Library_GTTTCG_L003_R1_*_trim_paired.cor.fastq.gz,/home/cauretc/scratch/HiSeq_data/BenEvansBJE3652_1000bp_Library_GTTTCG_L003_R2_*_trim_paired.cor.fastq.gz FRA1000 1000 100 90 0 0 1 2 1 0 0
lib_seq /home/cauretc/scratch/HiSeq_data/6kb_1_nxtrimmed_*_R1.mp_unknown.fastq.gz,/home/cauretc/scratch/HiSeq_data/6kb_1_nxtrimmed_*_R2.mp_unknown.fastq.gz JMP1st6kb 6000 600 110 0 0 0 3 0 0 0
lib_seq /home/cauretc/scratch/HiSeq_data/6kb_2_nxtrimmed_*_R1.mp_unknown.fastq.gz,/home/cauretc/scratch/HiSeq_data/6kb_2_nxtrimmed_*_R2.mp_unknown.fastq.gz JMP2nd6kb 6000 600 110 0 0 0 3 0 0 0
lib_seq /home/cauretc/scratch/HiSeq_data/10kb_nxtrimmed_*_R1.mp_unknown.fastq.gz,/home/cauretc/scratch/HiSeq_data/10kb_nxtrimmed_*_R2.mp_unknown.fastq.gz JMP10kb 10000 1000 110 0 0 0 4 0 0 0
genome_size 3.1
mer_size 49
diploid_mode 1
num_prefix_blocks 16
local_num_procs 10
local_max_memory 200
